<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      * {
        margin: 0;
      }

      body {
        margin: 0 auto;
      }

      .header {
        display: flex;
        align-items: center;
        background: #333;
        justify-content: space-between;
      }

      .navbar {
        display: flex;
      }

      .header > h1 {
        margin-left: 20px;
        color: white;
      }

      .navbar > ul {
        display: flex;
        gap: 2rem;
        margin: 20px;
      }

      .navbar > ul > li {
        list-style: none;
      }

      .navbar > ul > li > a {
        text-decoration: none;
        color: white;
        padding: 2%;
      }

      .navbar > ul > li > a:hover {
        color: dodgerblue;
      }

      .msg {
        margin: 20px;
        text-align: center;
      }

      .msg > h1 {
        color: dodgerblue;
        margin: 2%;
      }
    </style>
  </head>
  <body>
    <header class="header">
      <h1>Nearluk pvt. ltd.</h1>
      <nav class="navbar">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/signup">Signup</a></li>
          <li><a href="/login">Login</a></li>
        </ul>
      </nav>
    </header>
    <h1><%= message %></h1>
  </body>
</html>
